
project/boot
target
.ensime
.ensime_lucene
.ensime_cache
.metals
project/.bloop
TAGS
\#*#
*~
.#*
.lib
.history
.*.swp
.idea
.idea/*
.idea_modules
.DS_Store
.sbtrc
*.sublime-project
*.sublime-workspace
tests.iml
*.log
.sass-cache/
metastore_db/
checkpoint/
testData/
.phantom-temp

# PGP keys
secring.asc

# bazel
result
bazel-*
!*.nix
.bazel_cache
