// Base
// -----------------------------------------------
// -----------------------------------------------
// Body, html
// -----------------------------------------------

body {
    color: $text-color;
    font-family: $font-family-sans-serif;
}


#droste-home {
    background: $brand-secondary;
}

// Typography

#site-header,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $brand-secondary;
    font-family: $font-family-header;
    text-transform: uppercase;
}

a {
    transition: all $base-duration $base-timing;
}
