// Masthead
// -----------------------------------------------
// -----------------------------------------------

.jumbotron {
    text-align: center;
    background: $brand-secondary;

    h1 {
        font-size: $jumbotron-heading-font-size;

        @media (max-width: 992px) {
            font-size: ($jumbotron-heading-font-size / 1.5);
        }
    }

    p {
        margin-bottom: 20px;
    }
}