// Features
// -----------------------------------------------
// -----------------------------------------------

#site-main {
    background: $gray-lighter;

    #features {
        padding: {
            top: ($base-point-grid * 10);
            /*80px*/
            bottom: ($base-point-grid * 9);
            /*72px*/
        }

        background: $white-color;

        .feature-item {
            margin-top: ($base-point-grid * 3);
            /*24px*/
            margin-bottom: ($base-point-grid * 4);
            /*32px*/
            text-align: center;

            h2 {
                margin: {
                    top: ($base-point-grid * 3);
                    /*24px*/
                    bottom: ($base-point-grid * 2);
                    /*16px*/
                }

                font-size: 1.25rem;
            }

            p {
                margin-bottom: ($base-point-grid * 2);
            }
        }
    }

    a:hover {
        text-decoration: none;
    }
}

code,
pre {
    font-family: $font-family-header;
}
